.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    color: black;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.4s;
}

.modal-content {
    width: 100%;
    max-width: 552px;
    background-color: white;
    max-height: 90%;
    overflow: initial;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 32px;
    margin: 0 auto;
}

.header {
    display: block;
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header button {
    height: 40px;
    width: 40px;
    min-width: auto;
    color: rgba(0, 0, 0, 0.15);
}

.header button svg,
.header button img {
    pointer-events: none;
}

.shared-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    vertical-align: baseline;
    background: transparent;
    padding: 8px 12px;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 12px 24px;
}

.user-info svg,
.user-info img {
    width: 48px;
    height: 48px;
    background-color: content-box;
    border: 2px solid transparent;
    border-radius: 50%;
}

.user-info span {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 5px;
}

.shared-creation {
    display: flex;
    justify-content: space-between;
    padding: 12px 24px 12px 16px;
}

.asset-button {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    min-width: auto;
    color: rgba(0, 0, 0, 0.6);
}

.attach-assets {
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.share-comment {
    padding-left: 8px;
    margin-right: auto;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.share-comment .asset-button svg {
    margin-right: 5px;
}
.share-comment .asset-button img {
    height: 30px;
    width: 40px;
}
.share-comment .asset-button {
    width: 100px;
}

.post-button {
    min-width: 60px;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #0a66c2;
    color: white;
}

.post-button:disabled {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: not-allowed;
    color: rgba(1, 1, 1, 0.2);
}

.post-button:disabled:hover {
    background: rgba(0, 0, 0, 0.8);
}

.post-button:hover {
    background-color: #004182;
}

.editor {
    padding: 12px 24px;
}
.editor textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
}

.editor input {
    width: 100%;
    height: 35px;
    font-size: 16px;
    margin-bottom: 20px;
}

.upload-image {
    text-align: center;
}
.upload-image img {
    width: 100%;
}
